<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.flower.dao.CartMapper">
  <resultMap id="BaseResultMap" type="com.example.flower.po.Cart">
    <!--@mbg.generated-->
    <!--@Table cart-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsId" jdbcType="BIGINT" property="goodsid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="pricetotal" jdbcType="DOUBLE" property="pricetotal" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goodsId, `number`, pricetotal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from cart
    where id = #{id,jdbcType=BIGINT}
  </select>

  <resultMap id="PageResultMap" type="com.example.flower.vo.CartVO">
    <!--@mbg.generated-->
    <!--@Table cart-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsId" jdbcType="BIGINT" property="goodsid" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="pricetotal" jdbcType="DOUBLE" property="pricetotal" />
    <result column="goodsName" jdbcType="VARCHAR" property="goodsname"/>
    <result column="picture" jdbcType="VARCHAR" property="picture"/>
    <result column="price" jdbcType="FLOAT" property="price"/>
  </resultMap>

<!--  分页查询购物车-->
  <select id="findAll" resultMap="PageResultMap" parameterType="java.lang.Long">
    select c.id, c.goodsId, c.number, c.pricetotal, g.goodsName, g.picture, g.price
    from cart c
    inner join goods g on c.goodsId = g.id
    where c.userId = #{arg0, jdbcType=BIGINT}
  </select>

<!--  删除购物车商品-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from cart
    where id = #{id,jdbcType=BIGINT}
  </delete>


  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.flower.po.Cart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cart (goodsId, `number`, pricetotal
      )
    values (#{goodsid,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}, #{pricetotal,jdbcType=DOUBLE}
      )
  </insert>

<!--  加入购物车-->
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.flower.po.Cart" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        goodsId,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="pricetotal != null">
        pricetotal,
      </if>
      <if test="userId != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsid != null">
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="pricetotal != null">
        #{pricetotal,jdbcType=DOUBLE},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

<!--修改购物车商品信息-->
  <update id="updateByPrimaryKeySelective" parameterType="com.example.flower.po.Cart" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    <!--@mbg.generated-->
    update cart
    <set>
      <if test="goodsid != null">
        goodsId = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="pricetotal != null">
        pricetotal = #{pricetotal,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.example.flower.po.Cart">
    <!--@mbg.generated-->
    update cart
    set goodsId = #{goodsid,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER},
      pricetotal = #{pricetotal,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
